 /* Rule so rowspan-ned cells will have vertically
    aligned text in the insepction information */
.table-center td {
    vertical-align: middle;
}

/* None of our lists need points, so just disable them */
ul {
    list-style: none;
}

/* Quite self explanatory, I think */
.hidden {
    display: none;
}

/* Should vertical center in the screen */
#loading {
    height: calc(100vh - 1rem - 41px);
}

/* Vertical alignment is really a pain, but this should do it */
#loading > .align-middle {
    margin-top: calc((100vh - 1rem - 41px) / 2 - 50px);
}

/* Adjust column counts for different sizes
    This would be best done with SASS mixins,
    but to keep things simple we'll use vanilla CSS 
*/

/* Default: mobile friendly */
.card-columns {
    column-count: 1;
}

/* Bootstrap ms size */
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

/* Bootstrap lg size and up*/
@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}