/* CC0 (Public Domain) licensed loading spinner animation
   Sourced from: https://loading.io/css/
*/

.lds-dual-ring {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
